CHANNEL_ACCESS_TOKEN=你的_LINE_Channel_access_token
CHANNEL_SECRET=你的_LINE_Channel_secret
GOOGLE_CLIENT_EMAIL=你的_Google_Service_Account_Email
GOOGLE_PRIVATE_KEY=你的_Google_Private_Key
SPREADSHEET_ID=你的_Google_Sheet_ID
ADMIN_LINE_USER_IDS=管理員_LINE_USER_ID_1,管理員_LINE_USER_ID_2
PORT=10000
